In [20]:
import pandas as pd
import numpy as np

In [32]:
enc = "yareinl uof lo to eht ph vnok gsofey i gtau or gsofey i lo iz uof gau tsat uof arh pinh i kiee wh shrh fntie tsh hny oz tiph itg aekaug a thagh uof arh saccu kshn i ap on pu vnhhg onh yau it ig zinh any nhxt itg weadv go iz uof kant ph ozz uofr wadv khee doph on eht ph vnok gsofey i gtau or gsofey i lo tsig inyhdigion wfllinl ph ght ph zrhh hxaadteu ksop i ap gfccoghy nx vi"

In [24]:
df = pd.read_csv('AustenCount.txt', sep="\t", header=None)

In [25]:
colNames = ['V'] * 27
for i in range(len(colNames)):
    colNames[i] += (str(i+1))

In [26]:
df.columns = colNames

In [27]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27
0,117,6669,7227,15101,36,2776,5505,123,10110,16,...,25852,30361,34836,2725,8924,2796,274,7976,155,16327
1,2385,208,0,35,23837,0,0,27,1207,933,...,2291,911,618,7246,9,1,0,4267,0,61
2,8527,5,1843,24,14648,0,0,14953,3366,0,...,2849,48,7661,2619,0,0,0,1289,0,326
3,4539,10,8,1234,16181,149,839,337,10164,19,...,1822,2927,9,1644,535,445,0,2619,0,80200
4,20863,269,9427,32733,13287,3902,2094,782,6315,190,...,70758,23901,12353,118,9385,2360,4406,5746,13,125631

In [29]:
numeric_cols = [col for col in df if df[col].dtype.kind != 'O']
df[numeric_cols] += 1
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27
0,118,6670,7228,15102,37,2777,5506,124,10111,17,...,25853,30362,34837,2726,8925,2797,275,7977,156,16328
1,2386,209,1,36,23838,1,1,28,1208,934,...,2292,912,619,7247,10,2,1,4268,1,62
2,8528,6,1844,25,14649,1,1,14954,3367,1,...,2850,49,7662,2620,1,1,1,1290,1,327
3,4540,11,9,1235,16182,150,840,338,10165,20,...,1823,2928,10,1645,536,446,1,2620,1,80201
4,20864,270,9428,32734,13288,3903,2095,783,6316,191,...,70759,23902,12354,119,9386,2361,4407,5747,14,125632

In [30]:
logDF = np.log(df)

In [31]:
logDF.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27
0,4.770685,8.805375,8.885718,9.622582,3.610918,7.929126,8.613594,4.820282,9.221379,2.833213,...,10.160182,10.320947,10.458435,7.910591,9.096612,7.936303,5.616771,8.984318,5.049856,9.700637
1,7.777374,5.342334,0.000000,3.583519,10.079036,0.000000,0.000000,3.332205,7.096721,6.839476,...,7.737180,6.815640,6.428105,8.888343,2.302585,0.693147,0.000000,8.358901,0.000000,4.127134
2,9.051110,1.791759,7.519692,3.218876,9.592127,0.000000,0.000000,9.612734,8.121777,0.000000,...,7.955074,3.891820,8.944028,7.870930,0.000000,0.000000,0.000000,7.162397,0.000000,5.789960
3,8.420682,2.397895,2.197225,7.118826,9.691655,5.010635,6.733402,5.823046,9.226706,2.995732,...,7.508239,7.982075,2.302585,7.405496,6.284134,6.100319,0.000000,7.870930,0.000000,11.292291
4,9.945780,5.598422,9.151439,10.396170,9.494617,8.269501,7.647309,6.663133,8.750841,5.252273,...,11.167035,10.081717,9.421735,4.779123,9.146974,7.766841,8.390949,8.656433,2.639057,11.741112

In [33]:
def find_cID(c):
    return 27 if (c == ' ') else (ord(c) - 96)

In [ ]:
# todo
# def calculate_msg_score(encoded):
#     c = 0

#     for i in range(1,len(end) - 1):
#         cID = 'V' + str(find_cID(encoded[i - 1]))
#         c = c + logDF[cID]

In [40]:
# df[cID = 'V' + str(find_cID(encoded[i - 1]))]

'b'

In [ ]:
# def cracker(encoded, )